/* styles.module.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  height: 100vh;
}

.content {
  padding: 40px 60px;
}

/* FADE ANIMATIONS */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

/* SIDEBAR */

.sidebar__button {
  background: transparent;
  padding: 10px;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  color: var(--brow-color);
  transition: 0.3s linear;
  cursor: pointer;
}
.sidebar__button:hover{
  background-color: var(--blue-color);
}
.sidebar {
  height: 100vh;
  width: 250px; /* Adjusted from min-width to width */
  background: var(--brown-color);
  padding: 20px;
  color: var(--main-color);
  transition: 0.4s ease-in;
}

.sidebar-closed {
  width: 100px; /* Adjusted from min-width to width */
}

.ul {
  list-style-type: none;
  padding: 0;
}

.sidebar__listItem {
  margin: 50px auto;
  display: flex;
  height: 20px;
  text-decoration: none;
  color: var(--main-color);
}
.sidebar__listItem:hover{
  color: var(--blue-color);
}
.sidebar__listItem:active{
color:var(--blue-color);}
.sidebar__listItem span {
  white-space: nowrap;
  margin: 0 22px;

}


.sidebar__icon {
  margin: 0 15px 15px 0;
}

.logout{
  position: absolute;
  bottom: 0;

}
