.containers {
    min-height: 8vh;
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0%;
  }
  
  /* Media queries for responsive sidebar */
  @media (max-width: 768px) {
    .containers {
      grid-template-columns: 50px 1fr; /* Adjust the sidebar width as needed */
    }
  }