.container {
    background-image: url(../../assets/images/bubble1.png), url(../../assets/images/bubble2.png), url(../../assets/images/bubble3.png);
    background-position: 0px 0px , 115% 120% , 140% 120%;
    background-repeat: no-repeat , no-repeat, no-repeat;
    animation: bg-animation linear 4s infinite;
}

/* @keyframes bg-animation {
    0% {
        background-position: 0px 0px ,115% 5% ,140% 5% , ;
    }
    50% {
        background-position: 3% 0px ,120% 8%, 140% 8% ;
    }
    100% {
        background-position: 0px 0px , 115% 5% , 140% 5%;
    }
} */