* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-color: #368681;
  --brown-color: #4d342b;
  --rose-color: #f1cab1;
  --main-color: #fee7cb;
  --border-radius: 8px;
  --margin-LR: 4rem;
}
