.allImages {
  height: 60vh;
  display: flex;
  flex-direction: row-reverse;
  margin: 2rem 0;
}
@media (max-width: 992px) {
  .allImages {
    height: 100%;
    flex-direction: column;
  }
}
@media (max-width: 300px) {
  .allImages {
    margin-right: 1rem;
    margin-left: 0;
  }
}
.allImages .bigImage img {
  height: 100%;
}
.allImages .imagesHandle {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100%;
  overflow-x: auto;
  margin-left: 10px;
}
@media (max-width: 992px) {
  .allImages .imagesHandle {
    flex-direction: row;
    height: 100px;
    width: 200px;
  }
}
@media (max-width: 465px) {
  .allImages .bigImage img {
    width: 270px;
  }
}

.allImages .imagesHandle::-webkit-scrollbar {
  display: none;
}
.allImages .imagesHandle img {
  width: 100%;
  cursor: pointer;
}
