.wrapper{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets//images/overview.jpeg");
    
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    height: 80%;
    border: 1px solid var(--brown-color);
    border-radius: var(--border-radius);
    padding: 70px;
    backdrop-filter: blur(5px);
}
