.wrapper{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/images/overview.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    height: 80%;
    border: 1px solid var(--brown-color);
    border-radius: var(--border-radius);
    padding: 70px;
    backdrop-filter: blur(5px);
}
.forgotPass{
    color: var(--brown-color);
    font-size: 26px;
    font-weight: bold;
    width: 80%;
    text-align: center;
    filter: brightness(2);
}
.inputField{
        width: 50%;
        padding: 15px;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: 1px solid var(--brown-color);
        border-radius: var(--border-radius);
        color: var(--brown-color);
        font-size: 24px;
        transition: 0.6s;
}
.inputField::-webkit-outer-spin-button,
.inputField::-webkit-inner-spin-button {
    -webkit-appearance: none; 
    margin: 0;
}
.inputField:focus{
    outline: none;
    border-color: var(--blue-color);
    box-shadow: 5px 5px 5px #422f29;
    cursor:text;
}
.inputField::placeholder{
    color: var(--brown-color);
}
.submitBtn{
    padding: 10px 20px;
    border-radius: var(--border-radius);
    color: var(--brown-color);
    background-color: var(--main-color);
    border: 1px solid var(--brown-color);
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s;
}
.submitBtn:hover{
    color: white;
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    cursor: pointer;
}
