.sidepanel::-webkit-scrollbar {
  display: none;
}
.sidepanel {
  color: var(--brown-color);
  overflow-y: auto;
  /* height: 100vh; */
  height: 100%;
  width: 0;
  z-index: 2;
  position: absolute;
  /* position: fixed;
  top: 0;
  right: 0; */
  background-color: var(--main-color);
  overflow-x: hidden;
  transition: 0.5s;
  font-weight: 400;
  padding-top: 15px;
  box-shadow: -10px 0px 11px -8px rgba(0, 0, 0, 0.3);
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
}
@media (max-width: 769px) {
  .sidepanel {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
  }
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.head h3 {
  font-weight: 600;
  margin-right: 10px;
  margin-bottom: 20px;
}
.line {
  background-color: var(--blue-color);
  width: 80%;
  height: 1px;
  margin: 0 auto;
}
.subHead {
  margin-top: 20px;
  margin-bottom: 40px;
}
.subHead h3 {
  margin: 20px 10px;
}
.sidepanel .closebtn {
  font-size: 37px;
}
.closebtn {
  color: var(--blue-color);
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 10px;
}
.openbtn {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 7px;
  padding-right: 10px;
  margin-right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  color: var(--blue-color);
  font-size: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  border: none;
  border-radius: 40px;
  z-index: 1;
}
.openbtn:hover {
  background-color: #f1cab1;
}
@media (min-width: 769px) {
  .openbtn {
    display: none;
  }
}
.filter {
  margin-bottom: 40px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  color: var(--brown-color);
}
.filter .inputFilter {
  padding: 0 10px;
  cursor: pointer;
  margin-left: 10px;
  accent-color: var(--blue-color);
  scale: 1.4;
}
.filter .inputFilter:checked {
  outline: var(--blue-color);
  background-color: var(--blue-color);
}
.filter label {
  font-size: 25px;
  cursor: pointer;
}
.sideBarContainer {
  margin-right: 15px;
}
