.sidepanel {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  overflow-x: hidden;
  transition: 0.5s;
  font-weight: 400;
  padding-top: 15px;
  /* box-shadow: #ffdfb8; */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidepanel .closebtn {
  font-size: 37px;
}
.closebtn {
  color: var(--blue-color);
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 10px;
}
.openbtn {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 7px;
  padding-left: 10px;
  margin-left: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  color: var(--blue-color);
  font-size: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  border: none;
  border-radius: 40px;
}
.openbtn:hover {
  background-color: #f1cab1;
}
.filter {
  margin-top: 40px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  color: var(--brown-color);
}
.filter .inputFilter {
  margin-right: 5px;
  accent-color: var(--blue-color);
  scale: 1.4;
}
.filter .inputFilter:checked {
  outline: var(--blue-color);
  background-color: var(--blue-color);
}
@media (max-width: 769px) {
  .openbtn {
    padding: 0;
    margin: 45px 0px;
  }
}
@media (max-width: 350px) {
  .openbtn {
    font-size: 28px;
  }
}
