.container {
  width: 320px;
  height: 400px;
  padding-bottom: 3rem;
  background-color: #fee7cb26;
  border-radius: 8px;
  transition: 0.6s;
}

.container:hover {
  cursor: pointer;
  opacity: 0.9;
  scale: 0.9;
  z-index: 2;
}
.image {
  width: 100%;
  height: 90%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.h3 {
  width: 100%;
  text-align: center;
  padding-top: 1.6rem;
  font-size: 24px;
  color: var(--brown-color);
  display: inline-block;
  text-decoration: none;
}

@media (max-width: 1030px) {
  .container {
    width: 250px;
    height: 300px;
  }
}
@media (max-width: 675px) {
  .container {
    width: 300px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    height: auto;
  }
}
