.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--rose-color);
    border-radius: var(--border-radius);
    padding: 20px;
    overflow-y: scroll;
    height: 600px;
    row-gap: 30px;
}
.add{
    padding:10px 20px;
    color: white;
    background-color: var(--blue-color);
    border-radius: var(--border-radius);
    box-shadow: 0px 2px 5px var(--blue-color);
    cursor: pointer;
}
.add:active{
    transform: translateY(2px);
    box-shadow: 0px 0px 0px;
}