.AppChart {
  height: 100%;
  /* width: 100%; */
  display: flex;
  /* width: 100vw; */
  margin: 0 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: white;
  /* position: relative; */
}

.title1 {
  width: "100%";
  margin-top: "1.2rem";
  margin-Right:"2.5rem";
  color: var(--brown-color);
  align-self: flex-start;
  
}

.dataCard {
  background-color: white;
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1em;

}

.revenueCard {
  width: 100%;
  height: 20rem;
}

.customerCard {
  width: 45%;
  height: 20rem;
}

.categoryCard {
  width: 45%;
  height: 20rem;
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;

}

.ChartWrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
}



/* @media (max-width: 768px) {
  .card {
    flex: 1 0 100%;
  }
  .cardsWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }
  .AppChart{
    display: flex;
    flex-direction: column;
  }
  .categoryCard{
    width: 50%;
    height: 20rem;
  }
} */
.cardsWrapper{
  width: 100%;
}

.sidebarOpen .cardsWrapper {
  gap: 0.8rem;
}

@media (max-width: 768px) {
  .cardsWrapper {
    justify-content: center;
  }

  .card {
    /* margin-right: 15px; */
    margin-right: 0;
    flex: 1 0 100%;
    margin-bottom: 15px;
    gap: 0px
  }

  .sidebarOpen .cardsWrapper {
    justify-content: space-between;
  }
}
@media (max-width: 650px){
  .ChartWrapper{
    flex-direction: column;
  }
  .customerCard, .categoryCard{
    width: 100%;
  }
  .title1{
    text-align: center;
    margin-right: 8.5rem;
  }
}
@media (max-width: 350px) {
  .card {
    margin-right: 5px;
  }
  .title1{
    text-align: center;
    margin-right: 5rem;
  }
}