.AppChart {
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1vw;
  flex-wrap: wrap;
  background-color: white;
   /* position: relative; / */
}

.title1 {
position: absolute;
top: 0; 
left: 50%; 
transform: translateX(-50%);
background-color: white; 
padding: 7px; 
font-weight: bold;
margin-top: 10px;
color: var(--brown-color);
font-size: 35px; 
}
.dataCard {
  background-color: white;
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1em;

}

.revenueCard {
  width: 89.5%;
  height: 20rem;
}

.customerCard {
  width: 44%;
  height: 20rem;
}

.categoryCard {
  width: 44%;
  height: 20rem;
}

.cardsWrapper{
/* display: flex;
flex-direction: row;
margin: 5px; 
padding: 1rem; 
gap: 85px;  */
display: flex;
justify-content: space-around;
gap: 11.7rem;

}
.card {
flex: 1 0 250px;
margin-bottom: 20px;
margin-right: 100px;
background-color: #ffffff;
}

@media (max-width:1660px) and (min-width:768){
  .cardsWrapper{
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

}
@media (max-width: 768px) {

.cardsWrapper{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.AppChart{
  display: flex;
  flex-direction: column;
}
.categoryCard{
  width: 50%;
  height: 20rem;
} 
}