.wrapper {
  padding-top: 151px;
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
  row-gap: 40px;
  margin-bottom: 60px;
}
.upper {
  font-family: "Noto Nastaliq Urdu", serif;
  font-weight: 700;
  word-spacing: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--brown-color);
  margin: 0 auto;
  width: 80%;
}
.basmala {
  font-size: 48px;
  font-weight: 600;
  color: var(--blue-color);
  line-height: 100px;
}
.upperTxt {
  font-size: 36px;
  line-height: 100px;
  font-weight: 400;
}
.bigger {
  /* color: var(--blue-color);  */
  font-size: 48px;
  font-weight: 300;
}
.lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  column-gap: 2rem;
  /* margin: 0 auto; */
}
.who {
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: var(--blue-color);
}
.slogan {
  color: var(--brown-color);
  font-size: 1.5rem;
  font-weight: 300;
  width: 100%;
}
.right {
  display: flex;
  flex-direction: column;
  width: 70%;
  row-gap: 30px;
  line-height: 50px;
}
.left {
  width: 68%;
  /* height: 60%; */
}
.image {
  border-radius: 20px;
  margin: auto;
  object-fit: cover;
}
.gotoshop {
  padding: 10px;
  margin-top: 16px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 2px solid var(--blue-color);
  border-radius: var(--border-radius);
  text-decoration: none;
  font-weight: 300;
  font-size: 1.3rem;
  width: 50%;
  align-self: flex-start;
  background-color: var(--blue-color);
  transition: all 0.3s linear;
}
.gotoshop:hover {
  background-color: #3f9c95;
}

@media (max-width: 1500px) {
  .gotoshop {
    margin-left: 0;
    margin-top: 0;
    font-size: 20px;
    width: 200px;
    padding: 0;
  }

  .slogan {
    font-size: 20px;
  }
}

@media (max-width: 1030px) {
  .gotoshop {
    width: 50%;
  }
  .wrapper {
    height: 100%;
    position: relative;
    /* row-gap: 100px; */
    background-color: transparent;
  }
  .lower {
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .image {
    border-radius: initial;
    width: 100%;
    z-index: -1;
    filter: brightness(0.2);
  }
  /* .left, */
  .right {
    width: 90vw;
  }
  .left {
    display: none;
  }
  .wrapper {
    background-image: url(../../assets/images/ctra.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  .wrapper::before {
    content: "";
    background-color: #fee7cbad;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .upper {
    position: relative;
  }

  /* .left {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
  } */
  .right {
    row-gap: 20px;
  }
  .slogan {
    /* filter: brightness(3); */
    align-self: center;
    position: relative;
    width: 100%;
  }
  .gotoshop {
    align-self: center;
    font-size: 18px;
    position: relative;
  }
  .upperTxt {
    color: var(--brown-color);

    font-size: 28px;
    text-align: center;
    line-height: 60px;
    /* filter: brightness(3); */
  }
  .bigger {
    font-size: 36px;
  }
}
@media (max-width: 687px) {
  .upperTxt {
    text-align: right;
    margin-top: 15px;
  }
  .right {
    margin: 0 auto;
  }
  .basmala {
    font-size: 42px;
  }
  .who {
    font-size: 27px;
  }
  .gotoshop {
    align-self: flex-start;
  }
}
@media (max-width: 400px) {
  .gotoshop {
    width: 90%;
  }
}
